# Docker-specific files
Dockerfile
.dockerignore

# Git-specific files
.git
.gitignore

# dbt-specific artifacts and logs
target
logs
dbt_packages

# Python-specific files
__pycache__
*.pyc
venv
*.egg-info